@import 'https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:300i,400,700';
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/LeagueGothic-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    color: white;
    background: var(--Palette4);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--Palette1) 0%, var(--Palette2) 33%, var(--Palette3) 66%, var(--Palette4) 100%);
    transition: all .5s ease-out;
    /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, var(--Palette1) 25%, var(--Palette2) 0, var(--Palette2) 50%, var(--Palette3) 0, var(--Palette3) 75%, var(--Palette4) 0);
}

html {
    line-height: 1.4;
    scroll-behavior: smooth;
}

:root {
    --PaletteGrey: #0c0c0c;
    --Palette1: #E3B8AA;
    --Palette2: #DE7254;
    --Palette3: #2FC6A8;
    --Palette4: #AE1E4E;
    --Palette5: #e9b171;
    --Palette6: #011638;
    /* font-size: 28px; */
}

body {
    background-color: var(--PaletteGrey);
    font-family: sans-serif;
    color: white;
    overflow-x: hidden;
    width: 100vw;
}

body.hidden {
    overflow-y: hidden;
}

nav {
    background-color: black;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: top 0.3s;
    z-index: 99;
}

.logo {
    margin-left: 7vw;
    width:55px;
    transform: translateY(3px);
}

#th-logo-svg path {
    /* stroke-width: 7px; */
    /* stroke: var(--Palette1); */
    /* fill: black; */
}

.menu-btn {
    position: relative;
    margin-right: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 45px;
    transition: all 1s cubic-bezier(1, .02, 0, .96);
    cursor: pointer;
}

.menu-btn_burger {
    background-color: var(--Palette1);
    height: 2px;
    width: 100%;
    transition: all 1.5s ease-in-out;
    animation: color-wheel 21s forwards infinite;
}

@keyframes color-wheel {
    25% {
        background-color: var(--Palette2);
    }
    50% {
        background-color: var(--Palette3);
    }
    75% {
        background-color: var(--Palette4);
    }
}

#burger-top, #burger-bot {
    position: absolute;
}

#burger-top {
    transform: translateY(-13px);
}

#burger-bot {
    transform: translateY(13px);
}

/* hamburger animation */

.menu-btn.open #burger-mid {
    transform: rotate(90deg) translateY(-22px);
    width: 81%;
    border-radius: 5px;
}

.menu-btn.open #burger-top {
    transform: rotate(23deg) translateY(7.5px) translateX(5px);
    border-radius: 5px;
}

.menu-btn.open #burger-bot {
    transform: rotate(-23deg) translateY(-7.5px) translateX(5px);
    border-radius: 5px;
}

/* END hamburger animation */

#menu-slider1 {
    background: var(--Palette1);
}

#menu-slider2 {
    background: var(--Palette2);
}

#menu-slider3 {
    background: var(--Palette3);
}

#menu-slider4 {
    background: var(--Palette4);
}

.menu-page, .menu-page-slider {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: black;
    top: 0;
    left: 0;
    transform: translateX(100vw);
}

.menu-page ul {
    margin-top: 25vh;
}

.nav-links {
    list-style: none;
    font-family: inconsolata, monospace;
    margin: 0 auto;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.menu-page li a {
    text-decoration: none;
    color: inherit;
    font-size: 3rem;
}

#cta-btn {
    width: 20%;
    max-width: 100px;
    position: fixed;
    right: 6vw;
    bottom: 4vh;
    transform: rotate(10deg);
    z-index: 100;
}

#cta-btn-polygon {
    stroke: var(--Palette1);
    stroke-width: 7;
    transition: all .3s ease-out;
    fill: var(--PaletteGrey);
}

.cta-text-path {
    transition: all .5s ease-out;
    fill: white;
}

#cta-btn:hover > #cta-btn-polygon {
    stroke: var(--Palette4);
}

.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    height: 100vh;
}

.intro-text {
    margin-top: 20vh;
    font-family: inconsolata, monospace;
}

.jumbo-icosa {
    stroke: var(--Palette3);
    max-width: 400px;
    animation: color-stroke-wheel 14s forwards infinite;
    width: 50%;
    /* fill: url(#jumbo-icosa-gradient); */
    stroke-width: 5px;
}

#down-arrow {
    width: 16%;
    max-width: 100px;
    position: absolute;
    left: 8vw;
    bottom: 4vh;
    animation: double-bounce 4s infinite ease-in; 
}

#down-arrow:hover > path {
    fill: var(--Palette2);
}

#down-arrow path {
    transition: all .3s ease-out;
    fill: var(--Palette1);
}

/*  */

/* QUOTES */

/*  */

.quote-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
}

.quote-cutters {
    fill: var(--PaletteGrey);
}

.quote-svg {
    width: 80%;
    max-width: 500px;
}

.quote-text {
    font-family: 'League Gothic';
    font-style: italic;
    fill: white;
}

.quote-credit {
    font-family: 'League Gothic';
    fill: #606060;
}

#q1-polygon {
    stroke-dasharray: 1700;
    stroke-dashoffset: 1666;
    stroke-width: 25;
    stroke: var(--Palette2)
}

#q2-polygon-big {
    stroke-dasharray: 1772;
    stroke-dashoffset: 1772;
    stroke-width: 25;
    stroke: var(--Palette3)
}

#q2-polygon-small {
    stroke-dasharray: 1616;
    stroke-dashoffset: 1616;
    stroke-width: 25;
    stroke: var(--Palette3)
}

#quote-2 {
    transform: translateX(3%);
}

#q3-polygon-1,
#q3-polygon-2 {
    stroke-dasharray: 1667;
    stroke-dashoffset: 1667;
    stroke-width: 25;
    stroke: var(--Palette4)
}

/*  */

/* END QUOTES */

/*  */

.section-title {
    padding: 10px;
    font-size: 2rem;
    font-family: inconsolata, monospace;
    font-weight: 550;
    text-transform: uppercase;
}

.project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: open sans, sans-serif;
    color: white;
    padding-top: 10vh;
}

.project-section h1 {
    color: var(--Palette2);
}

.project-card {
    border: 1px solid var(--Palette2);
    width: 90%;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}

.project-revealer {
    background-color: var(--Palette2);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -25%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.project-title {
    font-weight: 500;
    letter-spacing: .15rem;
    font-size: 1.1rem;
    font-family: inconsolata, monospace;
    /* background-color: #FFFFFF;
    background-image: linear-gradient(270deg, var(--Palette4), var(--Palette2));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    width: fit-content; */
}

.project-content {
    margin: 1rem;
    transform: translateY(120%);
    opacity: 0;
}

.project-footer {
    margin-top: 1rem;
}

.project-body p {
    margin-top: .5rem;
    font-size: .85rem;
    letter-spacing: .03rem;
    line-height: 1.5;
}

#prashant-link {
    text-decoration: none;
    color: var(--Palette2);
    transition: all .3s ease-out;
}

#prashant-link:hover {
    text-decoration: none;
    color: var(--Palette1);
}

.project-footer a {
    text-decoration: none;
    color: var(--Palette2);
    font-family: sans-serif;
    transition: all .3s ease-out;
    text-transform: uppercase;
    font-size: .9rem;
}

.project-card a:hover {
    color: var(--Palette1);
}

.about-section {
    color: var(--Palette3);
    padding-top: 10vh;
    min-height: 100vh;
}

/*  */

/* NEW PORTAL SCENE */

/*  */

#portal-scene {
    width: 80%;
    max-width: 500px;
    margin: 10px auto;
    display: block;
}

.socials-about {
    fill: var(--Palette5);
    transition: fill .5s;
}

.socials-about:hover {
    fill: var(--Palette4);
}

#github-about.animate-hover {
    animation: hover 1.5s forwards infinite ease-in-out;
}

#spotify-about.animate-hover {
    animation: hover 1.6s forwards infinite ease-in-out;
}

#linkedin-about.animate-hover {
    animation: hover 1.4s forwards infinite ease-in-out;
}

@keyframes hover {
    50% {
        transform: translateY(15px);
    }
}

#portal {
    transform-origin: center;
    -webkit-transform-origin: center;
    stroke: var(--Palette3);
    stroke-width: 30;
}

/*  */

/* END NEW PORTAL SCENE */

/*  */

.about-title-container {
    display: flex;
    justify-content: center;
}

@keyframes color-fill {
    25% {
        fill: var(--Palette2);
    }
    50% {
        fill: var(--Palette3);
    }
    75% {
        fill: var(--Palette4);
    }
}

@keyframes color-stroke-wheel {
    25% {
        stroke: var(--Palette2);
    }
    50% {
        stroke: var(--Palette3);
    }
    75% {
        stroke: var(--Palette4);
    }
}

.about-text2, .about-text3, .about-text4 {
    margin: 0 1.5rem 1rem 1.5rem;
}

.about-text1 {
    font-family: open sans;
    font-style: italic;
    font-size: 1.4rem;
    line-height: 1.9rem;
    margin: 0 1.5rem 1.5rem 1.5rem;
}

.about-text2, .about-text3, .about-text4 {
    font-family: open sans, sans serif;
    font-size: .9rem;
}

.about-text2, .about-text3 {
    color: var(--Palette5);
}

.contact-section {
    padding-top: 10vh;
}

.contact-section .section-title {
    color: var(--Palette4);
}

.email-block {
    text-align: center;
    min-height: 20vh;
    overflow: hidden;
}

.email-address {
    font-size: 2.25rem;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-transform: uppercase;
    font-weight: 350;
    transition: all .5s ease-in-out;
    color: white;
    text-decoration: none;
}

.email-address:hover~.email-domain, .email-domain:hover {
    border-bottom: 1px solid var(--Palette3);
}

.email-domain {
    line-height: .5;
    border-bottom: 1px solid var(--Palette4);
}

.contact-section h1, footer h5 {
    text-align: center;
    font-weight: 300;
}

footer {
    color: var(--Palette4);
    padding: 50px 0 20px 0;
    border-top: 1px solid var(--Palette4);
    position: relative;
}

#backtotop-icosa {
    width: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--PaletteGrey);
}

#backtotop-frame {
    stroke: var(--Palette4);
    stroke-width: 20px;
}

#backtotop-arrow {
    stroke: white;
    stroke-width: 20px;
    animation: double-bounce 3s ease-in forwards infinite;
}

#backtotop-icosa:hover>#backtotop-arrow {
    animation: bounce .5s ease forwards infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-14%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes double-bounce {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(0%);
    }
    62.5% {
        transform: translateY(-14%);
    }
    75% {
        transform: translateY(0%);
    }
    87.5% {
        transform: translateY(-14%);
    }
    100% {
        transform: translateY(0%);
    }
}

.socials-block {
    width: 100vw;
    display: flex;
    justify-content: center;
}

footer h5 {
    font-size: 14px;
    color: white;
    font-weight: 300;
}

.footer-socials {
    fill: var(--Palette4);
    width: 32px;
    margin: 0 5px;
    transition: all .25s ease-in-out;
}

.footer-socials:hover {
    fill: white;
    margin: 0 10px;
}

#copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}

/*  */

/*  */

/*  */

/* MEDA QUERIES */

/*  */

/*  */

/*  */

@media screen and (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width: 950px) {
    .main-wrap {
        width: 80%;
        margin: 0 auto;
    }
    nav {
        background-color: initial;
        height: initial;
        width: initial;
        display: initial;
        position: fixed;
        transition: top 0.3s;
        z-index: 99;
    }
    .logo {
        margin-left: initial;
        position: fixed;
        top: 2vh;
        left: 2vw;
        color: var(--Palette1);
    }
    .logo h1 {
        font-weight: 300;
        font-size: 50px;
    }
    .menu-btn {
        position: fixed;
        margin-right: initial;
        top: 3vh;
        right: 2vw;
        width: 45px;
        transition: all 1s cubic-bezier(1, .02, 0, .96);
        cursor: pointer;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 24px;
    }
    .main-wrap {
        width: 70%;
        margin: 0 auto;
    }
    .project-card {
        width: 100%;
    }
    .about-section {
        position: relative;
        /* background-color: wheat; */
    }
    .about-graphics-container {
        position: absolute;
        min-height: 50vh;
        right: -10%;
        top: 30%;
        transform: translateY(-50%);
        width: 60%;
    }
    .about-text-wrap {
        width: 55%;
    }
}