@import 'https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:300i,400,700';
* {
    padding: 0;
    margin: 0;
}

html {
    line-height: 1.4;
}

:root {
    --color1: black;
    --color2: #040404;
    --color3: #E7DBB3;
    --color4: #4dff00;
    --color5: #E01919;
    --color6: #8913F8;
    --color7: #FFFF00;
    --color8: #1789fc;
    --newPalette1: #DE7254;
    --newPalette2: #2FC6A8;
    --newPalette3: #AE1E4E;
    --newPalette4: #011638;
}

body {
    background-color: var(--color2);
    font-family: sans-serif;
    color: white;
    overflow-x: hidden;
}

body.hidden {
    overflow-y: hidden;
}

nav {
    background-color: var(--color1);
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: top 0.3s;
    z-index: 99;
}

.logo {
    margin: 2rem;
    color: var(--color3);
    font-size: 1.3rem;
}

.logo h1 {
    font-weight: 300;
}

.menu-btn {
    position: relative;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 3rem;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.menu-btn_burger {
    background-color: var(--color3);
    height: 2px;
    width: 100%;
    transition: all 1.5s ease-in-out;
    animation: color-wheel 21s forwards infinite;
}

@keyframes color-wheel {
    25% {
        background-color: var(--newPalette1);
    }

    50% {
        background-color: var(--newPalette2);
    }

    75% {
        background-color: var(--newPalette3);
    }
}

#burger-top,
#burger-bot {
    position: absolute;
}

#burger-top {
    transform: translateY(-13px);
}

#burger-bot {
    transform: translateY(13px);
}

/* hamburger animation */
.menu-btn.open #burger-mid {
    transform: rotate(90deg) translateY(-1.5rem);
    width: 80%;
}

.menu-btn.open #burger-top {
    transform: rotate(23deg) translateY(7.5px) translateX(5px);
}

.menu-btn.open #burger-bot {
    transform: rotate(-23deg) translateY(-7.5px) translateX(5px);
}
/* END hamburger animation */

#menu-slider1 {
    background: var(--color3);
}
#menu-slider2 {
    background: var(--newPalette1);
}
#menu-slider3 {
    background: var(--newPalette2);
}
#menu-slider4 {
    background: var(--newPalette3);
}

.menu-page, .menu-page-slider {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: var(--color1);
    top: 50px;
    left: 0;
    transform: translateX(100vw);
}

.menu-page ul {
    margin-top: 20vh;
}

.menu-page li {
    margin: 1rem;
    list-style: none;
}

.menu-page li a {
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    min-height: 100vh;
    border-bottom: 1px dashed var(--color3);
}

.intro-text {
    margin-top: 35vh;
    padding: .5rem;
}

#icosa {
    position: absolute;
    z-index: -1;
    top: 30vh;
    left: 3vh;
}

.section-title {
    padding: 10px;
    font-size: 2rem;
    font-family: inconsolata, monospace;
    font-weight: 550;
}

.project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: open sans, sans-serif;
    border-bottom: 1px dashed var(--newPalette1);
    color: white;
    padding-top: 10vh;
}

.project-section h1 {
    color: var(--newPalette1);
}

.project-card {
    border: 1px solid var(--newPalette1);
    width: 90%;
    margin: 10px 0;
}

.project-title {
    font-weight: 500;
    letter-spacing: .15rem;
    font-size: 1.1rem;
    font-family: inconsolata, monospace;
}

.project-card>* {
    margin: 1rem;
}

.project-body p {
    margin-top: .5rem;
    font-size: .85rem;
    letter-spacing: .03rem;
    line-height: 1.5;
}

#prashant-link {
    text-decoration: none;
    color: var(--newPalette1);
    transition: all .3s ease-out;
}

#prashant-link:hover {
    text-decoration: none;
    color: var(--color3);
}

.project-footer a {
    text-decoration: none;
    color: var(--newPalette1);
    font-family: sans-serif;
    transition: all .3s ease-out;
    text-transform: uppercase;
    font-size: .9rem;
}

.project-card a:hover {
    color: var(--color3);
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dashed var(--color3);
    color: var(--newPalette2);
    min-height: 90vh;
}

.tay-container {
    margin-top: 4rem;
    width: 100%;
    /* background-color: rosybrown; */
    display: flex;
    justify-content: center;
}

.blanket {
    /* background: sandybrown; */
    width: 90%;
    display: flex;
}

.socials-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding-right: 2rem;
    /* background: chocolate; */
}

.socials-box img {
    width: 20%;
    margin-bottom: 1.5rem;
}

#tay-cutout {
    width: 100%;
    overflow: hidden;
}

.about-text2,
.about-text3,
.about-text4 {
    margin: 0 1.5rem 1rem 1.5rem;
}

.about-text1 {
    font-family: open sans;
    font-weight: 300;
    font-style: italic;
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 1.5rem;
}

.about-text2,
.about-text3 {
    color: var(--color3);
}

.about-text4 {
    font-weight: 200;
    font-family: open sans, sans serif;
}

footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.contact-section {
    border-bottom: 1px dashed var(--color3);
    color: var(--newPalette3);
    height: 50%;
}

.links {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 200vw;
    height: 200vw;
    margin-left: -100vw;
    z-index: -1;
    border-radius: 50%;
    background-color: var(--newPalette4);
}